

@{
    ViewBag.Title = "ImprimirTicket";
    Layout = null;
    var cabecera = (List<VgSalud.Models.E_Caja>)ViewBag.cabecera;
    var detalle = (List<VgSalud.Models.E_CajaDetalle>)ViewBag.detalle;
    var paciente = (List<VgSalud.Models.E_Caja>)ViewBag.paciente;
    decimal total = 0; ;
    decimal subtotal = 0; decimal igv = 0; decimal totalg = 0;
    var letra = "";
    var soles = "";
}
<style>
    .letra {
        font-family: 'Courier New';
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: 0;
        line-height: 11px;
    }
</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ticket</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Scripts/jquery.PrintArea.js"></script>
    <script>
            $(document).ready(function () {
                var ancho = $(window).width();
                var alto = $(window).height();

                var options = { mode: "popup", popHt: alto, popWd: ancho, popX: 0, popY: 0, popTitle: "Ticket", popClose: false };
                $("div#imprime").printArea(options);

            });
        </script>
</head>


<div style="width:800px" align="justify" >
    <div class="row">
        <br /><br />
        <div class="col-md-12" style="padding-left:150px">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="width: 283.464567px; height: 680.314961px;" id="imprime">
                <div class="row">
                    <div class="col-md-12">
                        <table align="left">
                            <tr>
                                <td colspan="2" style="margin-left:15px;" align="center"><label class="letra" style="margin-left:20px;">Jr. Joaquín Valverde 299<br>(Av. San Borja sur 801)</label></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="margin-left:15px" align="center"><label class="letra" style="margin-left:20px;">R.U.C.: 12332142608</label></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="margin-left:15px" align="center"><label class="letra" style="margin-left:20px;">Telefono: 2333222</label></td>
                            </tr>
                        </table>
                    </div>
                    @foreach (var item in cabecera)
                    {
                        letra = item.PrecioLetra;
                        soles = item.DescTipMon;
                        <table align="center">
                            <tr>
                                <td><label class="letra">Fecha</label></td>
                                <td><label class="letra">: @item.FechaEmision.ToShortDateString() - @item.HoraEmision</label></td>
                            </tr>
                            <tr>
                                <td><label class="letra">Cajera</label></td>
                                <td><label class="letra">: @item.UsuCrea</label></td>
                            </tr>
                            <tr>
                                <td><label class="letra">Secuencia</label></td>
                                <td><label class="letra">: @item.CodCaja</label></td>
                            </tr>
                            <tr>
                                <td><label class="letra">Nro Serie</label></td>
                                <td><label class="letra">: @item.Serie - N°@item.NumDoc</label></td>
                            </tr>
                        </table>

                    }

                    <div class="col-md-12">
                        <div class="col-md-6" style="padding:0px;">
                            <div class="row" style="width:250px;">
                                <table align="center" style="border-bottom-style:dotted;" width="280" cellpadding="2">
                                    <tr style="border-bottom-style:dotted;border-top-style:dotted;">
                                        <td width="260" align="center"><label class="letra" style="margin-right:120px;">Cantid.Tarifas</label></td>
                                        <td width="20" align="center"><label class="letra">Subtotal</label></td>
                                    </tr>
                                    @foreach (var item1 in detalle)
                                    {
                                        <tr style="width:200px;">
                                            <td width="260"><label class="letra">@item1.Cantidad - @item1.NomTar</label></td>
                                            <td width="20"><label class="letra">@item1.PUnit</label></td>
                                        </tr>
                                        total += item1.PUnit;
                                    }
                                </table>


                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="col-md-3" style="padding-right:0px">
                        </div>
                        <div class="col-md-9" style="padding-right:0px">
                            <table align="right">
                                <tr>
                                    <td><label class="letra">Total S/. :</label></td>
                                    <td><label class="letra">@total</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-3" style="padding-right:0px">
                        </div>
                        <div class="col-md-9" style="padding-right:0px">
                            @{
                                subtotal = total / decimal.Parse("1.18");
                                igv = subtotal * decimal.Parse("0.18");
                                totalg = subtotal + igv;
                            }
                            <table align="right">
                                <tr>
                                    <td><label class="letra">Sub Total S/.</label></td>
                                    <td><label class="letra">: @subtotal.ToString("N2")</label></td>
                                </tr>
                                <tr>
                                    <td><label class="letra">IGV 18.00% S/.</label></td>
                                    <td><label class="letra">: @igv.ToString("N2")</label></td>
                                </tr>
                                <tr>
                                    <td><label class="letra">Total S/.</label></td>
                                    <td><label class="letra">: @totalg.ToString("N2")</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12" style="border-bottom-style:dotted;">
                        <br /><br />
                        <label class="letra">@letra &nbsp; @soles</label>
                    </div>
  
                </div>
                <div class="row" style="border-bottom-style: dotted;">
                    <div class="col-md-12" style="padding-right:0px">
                        <table align="left">
                            @foreach (var item3 in paciente)
                            {
                                <tr>
                                    <td><label class="letra">Paciente</label></td>
                                    <td><label class="letra">: @item3.NomPac</label></td>
                                </tr>

                                <tr>
                                    <td><label class="letra">Edad</label></td>
                                    <td><label class="letra">: @item3.Edad</label></td>
                                </tr>
                                <tr>
                                    <td><label class="letra">Dni</label></td>
                                    <td><label class="letra">: @item3.NumDoc</label></td>
                                </tr>
                                <tr>
                                    <td><label class="letra">FecNac</label></td>
                                    <td><label class="letra">: @item3.FecNac.ToShortDateString()</label></td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
